@model testmvc.ModelViews.ChangePasswordViewModel

<div class="row">
    <div class="col-lg-12">
        <form asp-controller="Accounts" asp-action="ChangePassword" method="post">
            <div class="row gy-3">
                <div class="col-lg-10">
                    <label class="form-label text-sm text-uppercase" for="firstName">Mật khẩu hiện tại </label>
                    <input class="form-control form-control-lg" asp-for="PasswordNow" type="password">
                </div>
                <div class="col-lg-10">
                    <label class="form-label text-sm text-uppercase" for="lastName">Mật khẩu mới</label>
                    <input class="form-control form-control-lg" asp-for="Password" type="password">
                </div>
                <div class="col-lg-10">
                    <label class="form-label text-sm text-uppercase" for="lastName">Nhập lại mật khẩu mới </label>
                    <input class="form-control form-control-lg" asp-for="ConfirmPassword" type="password">
                </div>
                <div class="col-lg-12 form-group">
                    <button class="btn btn-dark" type="submit">Lưu thay đổi</button>
                </div>
            </div>
        </form>
    </div>
    <!-- ORDER SUMMARY-->
</div>
